a{
    text-decoration: none;
    padding: 14px 25px;
    background-color: lightgreen;
    display: inline-block;
    margin: 10px;
    text-align: center;
    color: black;
    font: 20px;
}
a:hover{
    background-color: greenyellow;
}
h2{
    background-color: rgb(7, 72, 156);
    width: 100%;
    color: white;
    text-align: center;
}
#settime{
    display: block;
}
.form-style-1 {
    margin:10px auto;
    max-width: 800px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
#manual{
    display: none;
}
#alarm{
    display: none;
}
button{
    border: none;
    padding: 10px 15px;
    margin: 10px;
    background-color: lightgreen;
    font-size: 20px;
}
button:hover {
    background-color: greenyellow;
}
button:active {
    background-color: rgb(131, 194, 37);
}
.form-style-1 #name{
    margin:0 0 3px 0;
    margin-left: 20px;
    padding:0px;
    display:inline-block;
    font-weight: bold;
    text-align: left;
    position: relative;
}
.form-style-1 #value{
    margin:0 0 3px 0;
    margin-right: 20px;
    padding:0px;
    display: block;
    font-weight: bold;
    float: right;
}
.form-style-1 input{
    margin:0 0 3px 0;
    margin-right: 10px;
    padding:0px;
    display: block;
    font-weight: bold;
    float: right;
}
.form-style-1 input[type="checkbox"]{
    margin-right: 86px;
}